:root {
  --primary: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: consolas, roboto, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.container {
  max-width: 600px;
  min-width: 600px;
  margin: auto;
  padding: 1rem;
}

.flex {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.flex-fill {
  flex: 1;
  margin-right: 0.5rem;
}

input#color {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  outline: none;
  border: 1px solid var(--primary);
}

input#code {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid var(--primary);
  border-radius: 4px;
}

.color {
  display: flex;
  align-items: center;
}

.color button {
  flex: 1;
  height: 32px;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--primary);
  border-radius: 4px;
  background-color: #fff;
  background: url(img/copy.svg);
  background-repeat: no-repeat;
  background-position: 4px center;
  display: block;
  width: 100%;
}

.color label {
  width: 50px;
  margin: 0;
}

.color + .color {
  margin-top: 1rem;
}

.rgba-range {
  margin-top: .25rem;
  margin-bottom: 1rem;
  margin-left: 50px;
}

#rgba-range {
  width: 100%;
}

@media screen and (max-width: 600px) {
  body {
    display: block;
  }

  #color {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .color {
    display: block;
  }

  .flex {
    flex-direction: column-reverse;
  }

  .flex-fill {
    margin-right: 0;
  }

  .flex > div {
    flex: 1;
    width: 100%;
  }
}